<div class="main">
  <app-header [text]="'Make a Transfer'" [icon]="arrowsUrl"></app-header>
  <form [formGroup]="transferForm" (submit)="makeATransfer()">
    <label>
      FROM ACCOUNT
      <input type="text" formControlName="fromAccount" disabled required>
    </label>

    <label>
      TO ACCOUNT
      <input type="text" formControlName="toAccount" required>
    </label>

    <label>
      AMOUNT
      <input type="text" formControlName="amount" required>
    </label>

    <button type="submit" [disabled]="!transferForm.valid || !amountValid">SUBMIT</button>
  </form>
</div>
