.header {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;
  text-align: center;
  background: #0c8397;
  &_text
  {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 50px;
  }
}
img {
  position: absolute;
  left: 10px;
  top: 12px;
}
