<div class="main recent">
  <app-header [text]="'Recent Transactions'" [icon]="'assets/icons/briefcase.png'"></app-header>
  <div class="top">
    <div class="top_searchBox">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Search By Typing..."/>
    </div>
    <div class="top_sorting">
      <div><b>Sort By</b></div>
      <div class="top_sorting_buttons">
        <app-backbase-radio [text]="'DATE'" (sort)="sort($event)"></app-backbase-radio>
        <app-backbase-radio [text]="'BENEFICIARY'" (sort)="sort($event)"></app-backbase-radio>
        <app-backbase-radio [text]="'AMOUNT'" (sort)="sort($event)"></app-backbase-radio>
      </div>
    </div>
  </div>
  <app-transaction *ngFor="let transaction of (transactions$ | async).transactions | filter:searchTerm | sort:sortOrder:sortBy" [transaction]="transaction">

  </app-transaction>
</div>
