.recent {
  background: #FFFFFF;
  &_container{
    @media only screen and (max-height: 200px) {
      height: 100px;
    }
    @media only screen and (min-height: 201px) {
      height: 1000px;
    }
    overflow-x: hidden;
    overflow-y: auto;
  }
}
.top{
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 100%;
  &_searchBox{
    flex: 1;
    display: flex;
    align-items: center;
    margin: 40px;
  }
  &_sorting{
    flex: 0.5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    &_buttons {
      display: flex;
    }
  }
}
