body {
  background: url('../assets/background.jpg') no-repeat fixed center center;
  background-size: cover;
  font-family: 'Kanit', sans-serif;
}
.container {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

input {
  font-family: 'Kanit', sans-serif;
}
