@import "styles-variables";

body {
  background: url('../assets/background.jpg') no-repeat fixed center center;
  background-size: cover;
  font-family: 'Kanit', sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 85px;
}

.column {
  flex: 25%;
  padding: 20px;
}
.column2 {
  flex: 70%;
  padding: 20px;
}

@media screen and (max-width: map-get($grid-breakpoints, lg)) {
  .container {
    margin: 50px 15px 15px;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, lg)) {
  .column {
    flex: 50%;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, lg)) {
  .row {
    flex-direction: column;
  }
}

input {
  font-family: 'Kanit', sans-serif;
}

input[type="text"] {
  height: 2em;
  font-size: 1.3em;
  color: gray;
  opacity: 0.5;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  width: 100%;
}
