body {
  background: url('../assets/background.jpg') no-repeat fixed center center;
  background-size: cover;
  font-family: 'Kanit', sans-serif;
}
.container {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

input {
  font-family: 'Kanit', sans-serif;
}

input[type="text"] {
  height: 2em;
  font-size: 1.3em;
  color: gray;
  opacity: 0.5;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  width: 100%;
}
